@media(max-width:985px){
	.navbar-nn{
		background-color: #f3f3f3;
		z-index: 999;
	}
	.btn-primary{
		position: relative;
		right: 25px;
	}
}

@media (max-width:550px){
	.topbar{
		display: none;
	}
	.navbar-color{
		background-color: #d22f2f;
	}
	.carousel-caption{
		display: none;
	}
	.frm-crtl{
		margin-bottom: 5px;
	}
	.navbar-nn{
		background-color: #d22f2f;
		
	}
	.slide{
		
	}
	}


